[submodule "Submodules/mou-theme-solarized"]
	path = Submodules/mou-theme-solarized
	url = git@github.com:CodeCatalyst/mou-theme-solarized.git
[submodule "Submodules/Mou-Theme"]
	path = Submodules/Mou-Theme
	url = git@github.com:hzlzh/Mou-Theme.git
[submodule "Submodules/byword-for-mou"]
	path = Submodules/byword-for-mou
	url = git@github.com:kvanlierop/byword-for-mou.git
[submodule "Submodules/swizzle"]
	path = Submodules/swizzle
	url = git@github.com:chrissimpkins/swizzle.git
[submodule "Submodules/kublai-mou"]
	path = Submodules/kublai-mou
	url = https://github.com/moizk/kublai-mou
[submodule "Submodules/Verona"]
	path = Submodules/Verona
	url = git@github.com:MSpirek/Verona.git
