[submodule "Submodules/mou-theme-solarized"]
	path = Submodules/mou-theme-solarized
	url = git@github.com:CodeCatalyst/mou-theme-solarized.git
[submodule "Submodules/Mou-Theme"]
	path = Submodules/Mou-Theme
	url = git@github.com:hzlzh/Mou-Theme.git
[submodule "Submodules/byword-for-mou"]
	path = Submodules/byword-for-mou
	url = git@github.com:kvanlierop/byword-for-mou.git
[submodule "Submodules/swizzle"]
	path = Submodules/swizzle
	url = git@github.com:chrissimpkins/swizzle.git
[submodule "Submodules/kublai-mou"]
	path = Submodules/kublai-mou
	url = https://github.com/moizk/kublai-mou
[submodule "Submodules/Verona"]
	path = Submodules/Verona
	url = git@github.com:MSpirek/Verona.git
[submodule "Submodules/frontier-mou-theme"]
	path = Submodules/frontier-mou-theme
	url = git@github.com:arminrosu/frontier-mou-theme.git
[submodule "Submodules/realm-theme"]
	path = Submodules/realm-theme
	url = git@github.com:zhf/realm-theme.git
[submodule "Submodules/Clearness-Dark-Plus"]
	path = Submodules/Clearness-Dark-Plus
	url = git@github.com:Staudi/Clearness-Dark-Plus.git
[submodule "Submodules/hatchddigital.mou.theme"]
	path = Submodules/hatchddigital.mou.theme
	url = git@github.com:hatchddigital/hatchddigital.mou.theme.git
[submodule "Submodules/snowball"]
	path = Submodules/snowball
	url = git@github.com:chrissimpkins/snowball.git
